header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: var(--orange);
    padding: var(--taille-s);
}

header>a {
    position: absolute;
    top: var(--taille-s);
    left: calc(100vw / 2);
}

header>a,
header button {
    display: block;
    height: var(--taille-xl);
    width: var(--taille-xl);
}

header button {
    border: 1px solid var(--marron-fonce);
    background-color: var(--orange-fonce);
    border-radius: 8px;
    cursor: pointer;
}

header button:hover {
    background-color: var(--marron-fonce);
}


/* 










-------------------------NAV-----------*/

nav {
    position: absolute;
    right: 0;
    top: var(--hauteur-header);
    width: 100%;
    height: 100vh;
    background-color: var(--marron-fonce);
    padding: var(--taille-s) var(--taille-m);
    text-align: right;
    transition: right var(--temps-s);
}

nav a {
    display: block;
    padding: var(--taille-m);
    font-size: var(--taille-l);
    transition: color var(--temps-s);
}

nav a:hover {
    color: var(--orange-clair);
}

.invisible {
    right: -100vw;
}